<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>PatchPeek</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.5.1/github-markdown-dark.min.css"
    />
  </head>
  <body>
    <div class="header">
      <h1 class="title">👀 PatchPeek</h1>
      <details class="settings">
        <summary class="settingsSummary">
          <p class="settingsTitle" >Settings</p>
        </summary>
        <div class="settingsContent">
          <form method="POST" action="/update-days">
            <label for="daysWindow">Show releases from the last</label>
            <input
              type="number"
              id="daysWindow"
              name="daysWindow"
              min="1"
              value="<%= daysWindow %>"
              required
              class="dayswindow"
              onchange="this.form.submit()"
            />
            days
          </form>
          <hr>
          <form action="/update-token" method="POST" class="updatetoken">
            <label for="githubToken">GitHub Token:</label>
            <input id="githubToken" type="text" name="githubToken" placeholder="github_pat_... / ghp_..." />
          </form>
        </div>
      </details>
    </div>
    <div class="layout">
      <div class="content">
        <% allReleases.forEach(({ repo, releases, releaseCount, hasFlagged }) => { %>
          <details class="wrapper">
            <summary class="repoMain">
              <img class="avatar" src="https://github.com/<%= repo.split('/')[0] %>.png"/>
              <p class="project"><%= repo %></p>
              <p class="releaseCount <%= hasFlagged ? 'flagged' : '' %>">
                  <%= releaseCount %> releases
                </p>
            </summary>
            <div class="releaseDiv">
              <% releases.forEach(release => { %>
                <details class="release <%= release.flagged ? 'flagged' : '' %>">
                  <summary class="<%= release.flagged ? 'flagged' : '' %>">
                    <a class="releaseName <%= release.flagged ? 'flagged' : '' %>" href="<%= release.html_url %>"><%= release.name || release.tag_name %> 
                    (<%= new Date(release.published_at).toLocaleDateString() %>)
                    </a>
                  </summary>
                  <div class="markdown-body <%= release.flagged ? 'flagged' : '' %>"><%- release.body_html %></div>
                </details>
              <% }) %>
            </div>
          </details>
        <% }) %>
      </div>
      <div class="sidebar">
        <h2 id="repositories">Repositories</h2>
        <form method="POST" action="/add-repo" class="addrepo">
          <label for="repoSlug">Enter GitHub repository slug:</label>
          <input
            id="repoSlug"
            name="repoSlug"
            type="text"
            placeholder="user/repo"
            required
          />
        </form>
        <hr>
        <ul class="reposlist">
          <% if (allReleases.length) { %>
            <% allReleases.forEach(({ repo }) => { %>
              <li>
                <form method="POST" action="/remove-repo" onchange="this.submit()">
                  <code class="repos">
                    <input type="checkbox" class="repocheck" checked />
                    <p class="repotext"><%= repo %></p>
                  </code>
                </form>
              </li>
            <% }) %>
          <% } else { %>
            <li><em>None yet</em></li>
          <% } %>
        </ul>
      </div>
    </div>
    <div id="loadingOverlay" style="display: none;">  
      <div class="spinner"></div>
    </div>
  </body>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const loadingOverlay = document.getElementById('loadingOverlay');
      const forms = document.querySelectorAll('form');

      forms.forEach(form => {
        form.addEventListener('submit', () => {
          loadingOverlay.style.display = 'flex';
        });
      });
    });
  </script>
</html>
