<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>PatchPeek</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.5.1/github-markdown-dark.min.css"
    />
  </head>
  <body>
    <div class="layout">
      <% allReleases.forEach(({ owner, repo, releases }) => { %>
    <details class="wrapper">
      <summary class="feedMain"><%= owner %>/<%= repo %></summary>

      <% releases.forEach(release => { %>
        <details class="release">
          <summary>
            <%= release.name || release.tag_name %> 
            (<%= new Date(release.published_at).toLocaleDateString() %>)
          </summary>
          <div class="markdown-body"><%- release.body_html %></div>
        </details>
      <% }) %>

    </details>
  <% }) %>
    </div>
    <div id="loadingOverlay" style="display: none;">  
      <div class="spinner"></div>
    </div>
  </body>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const loadingOverlay = document.getElementById('loadingOverlay');
      const forms = document.querySelectorAll('form');

      forms.forEach(form => {
        form.addEventListener('submit', () => {
          loadingOverlay.style.display = 'flex';
        });
      });
    });
  </script>
</html>
